<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mybatis.mapper.TestMapper">
    <resultMap id="BaseMap" type="com.example.demo.Model.TestEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectById" resultType="com.example.demo.Model.TestEntity">
        select * from ${table} where id = #{id}
    </select>
    <select id="selectReadById" resultType="com.example.demo.Model.TestEntity">
        select * from test where id = ${id}
    </select>
    <update id="update">
        update test set name = #{name} where id = #{id}
    </update>
    <select id="selectByIdForUpdate" resultMap="BaseMap">
        select * from test where id = #{id} for update
    </select>
</mapper>